* { /* Universal Selector: Reset */
    margin: 0;
    padding: 0;
    color: white;
    /* Top, Right, Bottom, Left */
    padding: 5px 0 0 5px;
}

header > h1, footer, .slogan { /* Direct Child selector */
    text-align: center;
}

header, footer {
    height: 10%;
}

.mainContent {
    height: 90%;
}

body {
    /* Background image is a cutout of Holo the Wolf silhouette centered in the screen */
    background-image: url('https://r4.wallpaperflare.com/wallpaper/421/228/58/holo-spice-and-wolf-okamimimi-anime-wallpaper-1930980db15a4d5be6a7e85fe0a1e67d.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}