* { /* Universal Selector: Reset */
    margin: 0;
    padding: 0;
}

header > h1, footer, .slogan { /* Direct Child selector */
    text-align: center;
}

header, footer {
    height: 10%;
}

.mainContent {
    height: 90%;
}

body {
    /* Background image is a cutout of Holo the Wolf silhouette centered in the screen */
}